.recent-posts {
  @media (max-width: $tablet) {
    padding: 0 20px;
  }
}
.recent-post-wrap {
  @include flex-between;
}
.r-post {
  margin-bottom: 30px;
  padding-right: 20px;
  box-sizing: border-box;
  @media (min-width: $mobile) {
    width: 100%;
  }
  @media (min-width: $tablet) {
    width: 70%;
  }
  @media (min-width: $desktop) {
    width: 50%;
  }
}
.recent-post-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  padding-left: 15px;
}
.r-post-title {
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
}
.r-post-info {
  font-size: 12px;
  color: #7C7C7C;
  padding: 7px 0 0 15px;
}
.r-post-text {
  font-size: 14px;
  color: #5C5C5C;
  font-weight: normal;
  line-height: 28px;
  @media (max-width: 768px) {
    display: none;
  }
}
.r-post-img {
  margin-right:20px;
  @media (min-width: $mobile) {
    float: none;
    margin-bottom: 10px;
  }
  @media (min-width: $tablet) {
    float: left;
  }
}