.footer-info {
  background: #000;
  padding: 70px 0;
  text-align: center;
  color: #B9B9B9;
  @media (max-width: $tablet) {
    padding: 40px 0;
  }
}

.footer-title {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #FEFEFE;
  padding-bottom: 30px;
  @media (max-width: $tablet) {
    font-size: 14px;
    padding-bottom: 15px;
  }
}

.footer-text {
  width: 56%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  @media (max-width: $tablet) {
    font-size: 12px;
    line-height: 20px;
  }
}

.footer-social-icons {
  padding: 30px 0;
  @include flex-center-nowrap;
  @media (max-width: $tablet) {
    padding: 20px 0;
  }
}

.footer-social-items {
  list-style: none;
  padding: 0 3px;
}

.social-icons-link {
  display: block;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
}

.footer-contacts .divider {
  @media (max-width: $tablet) {
    display: none;
  }
}

.footer-contact {
  text-decoration: none;
  color: #B9B9B9;
  display: inline-block;
  @media (max-width: $tablet) {
    display: block;
  }
}
