body {
  font-family: 'Roboto', sans-serif;
  color: #4e4e4e;
  line-height: 1.4;
}

.container {
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.img-fluid {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.clearfix {
  clear: both;
}

.divider {
  padding: 0 10px;
}

.header {
  @include flex-center;
}

.navbar {
  @media (min-width: $mobile) {
    display: block;
  }
  @media (min-width: $tablet) {
    display: block;
    padding-top: 30px;
    padding-bottom: 28px;
    .navbar-menu-item {
      margin: 0 20px;
    }
  }
  @media (min-width: $desktop) {
    width: 100%;
    display: block;
    padding-top: 40px;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      height: 40px;
      width: 300%;
      display: block;
      position: absolute;
      z-index: -100;
      top: 12px;
      left: -100%;
    }
  }

  &.show .navbar-menu-button {
    border-color: transparent;
  }

  &.show .navbar-menu-button::after {
    left: -3px;
    width: 26px;
    transform: rotate(45deg);
  }

  &.show .navbar-menu-button::before {
    left: -3px;
    width: 26px;
    transform: rotate(-45deg);
  }

  &.show .navbar-menu-list {
    top: 60px;
  }
}


.navbar-menu-list {
  @media (max-width: $tablet) {
    position: absolute;
    top: -300px;
    right: 20px;
  }
}

.navbar-menu-item {
  display: inline-block;
  margin: 0 20px;
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
  }
}

.blue-color {
  color: #57A4A4 !important;
}

.navbar-menu-link {
  display: block;
  background-color: #F5F5F5;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.6px;
  text-decoration: none;
  color: #4E4E4E;
  text-transform: uppercase;
  @media (max-width: $tablet) {
    box-sizing: border-box;
    width: 180px;
    padding: 10px;
    border-bottom: 2px solid #F5F5F5;
    &:hover {
      background: #E5E5E5;
    }
  }
}

.navbar-menu-button {
  @media (max-width: $tablet) {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 200;
    width: 20px;
    height: 17px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px;
    background-color: #000;
    outline: 10px solid #000;
    &::before {
      content: "";
      width: 20px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 7px;
      z-index: 200;
      transition: .3s;
      right: 0;
    }
    &::after {
      content: "";
      width: 20px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 7px;
      z-index: 200;
      transition: .3s;
      right: 0;
    }
  }
}