.latest-insta-shots {
  padding: 70px 0;
  background-color: #f7f7f7;
  @media (max-width: $tablet) {
    padding: 0 20px;
    background-color: transparent;
  }
}

.latest-insta-shots-title,
.latest-insta-page-link {
  @include left-title;
}

.latest-insta-shots-title {
  display: inline-block;
}
.latest-insta-page-link {
  float: right;
  @media (max-width: $tablet) {
    display: none;
  }
}
.latest-insta-pics-list {
  @include flex-between-nowrap;
}
.insta-post-link {
  display: none;
  @media (min-width: $mobile) {
    &:nth-child(1) {
      display: block;
    }
    .insta-pics {
      max-width: 260px;
      margin-bottom: 20px;
    }
  }
  @media (min-width: $tablet) {
    &:nth-child(n+3) {
      display: block;
    }
    .insta-pics {
      max-width: 250px;
    }
  }
  @media (min-width: $desktop) {
    display: block;
    .insta-pics {
      max-width: 100%;
    }
  }

}
